body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*
.search-bar {
   margin: 20px;
   text-align: center;
}

.search-bar input {
   width: 75%;
}
*/

figcaption {
   max-width: 320px;
}

.list-inline-item {
   vertical-align: top;
}

.container {
   text-align: center;
}

body {
   text-align: center;
}

.active {
   background-color: LightGray;
}

.figure {
   padding: 2px;
}

.scrollable {
   height: 100%;
   overflow: scroll;
}
